
{% extends 'base.html.twig' %}

{% block body %}
	
    {% block contenu %}
          <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Voitures</h6>
                <div class="col-6 text-end"></div>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
               <a class="btn bg-gradient-dark mb-0" href="{{ path('app_voiture_new') }}"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Ajouter une Voiture</a>
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">id</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">marque</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">modele</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">numero d'identifiant</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">numero de serie</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">date d'achat</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">couleur</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for voiture in voitures %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                         {{ voiture.id }}    
                        </div>
                      </td>
                      <td>
                        {{ voiture.marque }} 
                       
                      </td>
                      <td class="align-middle text-center text-sm">
                       {{ voiture.modele }} 
                      </td>
                      <td class="align-middle text-center">
                       {{ voiture.numeroIdentifiant }}
                      </td>
                      <td class="align-middle text-center">
                      {{ voiture.numeroSerie }}
                      </td>
                      <td class="align-middle">
                       {{ voiture.dateAchat ? voiture.dateAchat|date('Y-m-d') : '' }}
                      </td>

                      <td class="align-middle">
                       {{ voiture.couleur }} 
                      </td>

                       <td>
                        <div class="d-flex px-2 py-1">
                         <div class="ms-auto text-end">
                          {# {{ include('voiture/_delete_form.html.twig') }} #}
                             <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="{{ path('app_voiture_delete', {'id': voiture.id}) }}"><i class="material-icons text-sm me-2">delete</i>Delete</a>
                             <a class="btn btn-link text-dark px-3 mb-0" href="{{ path('app_voiture_edit', {'id': voiture.id}) }}"><i class="material-icons text-sm me-2">edit</i>Edit</a>
                            </div>
                        </div>
                      </td>

                    </tr>

                  </tbody>
                {% endfor %}  
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %} 
{% endblock %}
