{% extends 'base.html.twig' %}

{% block body %}

  
    {% block gestion_page %}Ventes{% endblock %}
    {% block page_courante %}Listes des Ventes{% endblock %}

    {% block contenu %}
    
        
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <h6 class="text-white text-capitalize ps-3">Ventes</h6>
                    <div class="col-6 text-end">
                    </div>
                </div>
                
                <div class="card-body px-0 pb-2">
                
                    <div class="table-responsive p-0">
                    <a class="btn bg-gradient-dark mb-0" href="{{ path('app_ajout_vente') }}"><i class="material-icons text-sm">add</i>&nbsp;&nbsp;Ajouter une Vente</a>
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date de Vente</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Montant</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Voiture</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Client</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">date d'achat</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if ventes == [] %}

                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">Pas de vente enregistrer </h6>
                                        </div>
                                        </div>
                                    </td>

                                <tr>
                            {% else %}
                            {% for vente in ventes %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        {{ loop.index }}    
                                    </div>
                                </td>

                                <td>
                                {{ vente.dateVente ? vente.dateVente|date('Y-m-d') : '' }}
                                </td>

                                <td class="align-middle text-center text-sm">
                                    {{ vente.montant }} 
                                </td>

                                <td class="align-middle text-center">
                                    {{ vente.voiture }}
                                </td>

                                <td class="align-middle text-center">
                                    {{ vente.client }}
                                </td>

                                <td class="align-middle">
                                    {{ voiture.dateAchat ? voiture.dateAchat|date('Y-m-d') : '' }}
                                </td>

                                <td class="align-middle">
                                    {{ voiture.couleur }} 
                                </td>

                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="ms-auto text-end">
                                            <a class="btn btn-link text-dark px-3 mb-0" href="{{ path('app_modifier_vente', {'id': vente.id}) }}"><i class="material-icons text-sm me-2">edit</i>MODIFIER</a>
                                            <a class="btn btn-link text-danger btn-sm mb-0" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="material-icons text-sm me-2">delete</i>Supprimer</a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Suppression client</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Etes vous sur de vouloir supprimer cet élément? </br>
                                                        Cette action est irréversible!
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <a href="{{url('app_supprimer_vente', {'id': vente.id})}}"><button type="button" class="btn btn-primary">Supprimer</button></a>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %} 

                            {% endif %} 
                            
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        {% endblock %} 
{% endblock %}